<div class="container my-5">
  <div class="row justify-content-center">

    <!-- LOGIN -->
    <div class="col-md-5 mb-4">
      <div class="card shadow-sm p-4">
        <h3 class="mb-3 text-center">Login</h3>

        <div *ngIf="loginErrorMessage" class="alert alert-danger">{{ loginErrorMessage }}</div>

        <form (ngSubmit)="login()">
          <div class="mb-3">
            <label>Email</label>
            <input type="email" [(ngModel)]="loginEmail" name="loginEmail" class="form-control" placeholder="Digite seu email" required />
          </div>

          <div class="mb-3">
            <label>Senha</label>
            <input type="password" [(ngModel)]="loginPassword" name="loginPassword" class="form-control" placeholder="Digite sua senha" required />
          </div>

          <button type="submit" class="btn btn-primary w-100">Entrar</button>
        </form>
      </div>
    </div>

    <!-- REGISTRO -->
    <div class="col-md-5 mb-4">
      <div class="card shadow-sm p-4">
        <h3 class="mb-3 text-center">Registro</h3>

        <div *ngIf="registerErrorMessage" class="alert alert-danger">{{ registerErrorMessage }}</div>

        <form (ngSubmit)="register()">
          <div class="mb-3">
            <label>Nome</label>
            <input type="text" [(ngModel)]="registerName" name="registerName" class="form-control" placeholder="Digite seu nome" required />
          </div>

          <div class="mb-3">
            <label>Email</label>
            <input type="email" [(ngModel)]="registerEmail" name="registerEmail" class="form-control" placeholder="Digite seu email" required />
          </div>

          <div class="mb-3">
            <label>Senha</label>
            <input type="password" [(ngModel)]="registerPassword" name="registerPassword" class="form-control" placeholder="Crie uma senha" required />
          </div>

          <div class="mb-3">
            <label>Confirme a Senha</label>
            <input type="password" [(ngModel)]="registerPasswordConfirmation" name="registerPasswordConfirmation" class="form-control" placeholder="Confirme a senha" required />
          </div>

          <button type="submit" class="btn btn-success w-100">Registrar</button>
        </form>
      </div>
    </div>

  </div>
</div>
